.sideImage{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.sidebar-font {
    font-family: 'Varela Round', sans-serif;
}

.categories li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right:5px;
}

.categories li a {
    display: block;
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 3px
}